body{
    background-color: #d198c5ff;
    margin: 0;
}
div{
    margin: 50px;
}
h1{
    
    font-family: sans-serif;
    font-style:italic;
    color:#f95700ff;
}
table, th, td {
    border: solid 2px rgb(231, 22, 22);
    border-collapse: collapse;
    padding: 2px 5px;
    text-align: center;
}
table tr {
    color: #00539cff;
height: 50px;

}
header {
    
    text-align: center;
    background: gold;
    padding: 25px;
  }
.btn{
    background-color:rgb(27, 240, 38);
    color:white;
    text-align: center;
    width: 100px;
    height: 50px;
}
table{
    max-width: 75%;
    table-layout: fixed;
    background-color: gold;

}
table th {
    
    height: 75px;
    background-color: rgb(27, 240, 38);
    color:#422057ff;
  }
th {
    font-weight:bold;
    font-family: sans-serif;
    font-size: large;
   /* color: #e0c568ff;*/
}